<% include ../header %>

<h1><%- title %></h1>

<% if (tasks.length) { %>
	<ul>
		<% tasks.forEach(function (task) { %>
			<li>
				<strong><%= task.name %>:</strong> <%= task.description %>
				<% if (task.requiresTask) { %>
					<br/>Requires: <%= task.requiresTask %>
				<% } %>
				<br/>Actions: [<% task.actions.forEach(function (action) { %>
					<%= action.name %>,
				<% }) %>]
			</li>
		<% }) %>
	</ul>
<% } %>

<% include ../footer %>